.WalletGrid {
  margin: 170px 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1.8fr 1fr;

  @media only screen and (max-width: 968px) {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
  }

  grid-gap: 20px;

  .WalletsAndTransactions {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    position: relative;
    border-radius: 20px;

    @media only screen and (min-width: 1268px) {
      padding-top: 195px;
    }

    &::before {
      @include BoxEffect;
    }

    .WalletBox {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      position: relative;
      padding: 20px;
      border-radius: 30px;
      background: inherit;
      overflow: hidden;
      z-index: 1;
      box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
      border: 2px solid $BorderColor;
      max-width: 800px;
      padding-bottom: 40px;
      margin: auto;

      @media only screen and (min-width: 1268px) {
        max-width: 567px;
        position: absolute;
        width: 100%;
        top: -119px;
        left: 50%;
        transform: translateX(-50%);
      }

      @media only screen and (max-width: 968px) {
        max-width: 100%;
      }

      @media only screen and (max-width: 568px) {
        max-width: 100%;
        padding-bottom: 20px;
      }

      @media only screen and (max-width: 375px) {
        max-width: 100%;
      }

      .WalletList {
        display: flex;
        list-style-type: none;
        align-items: center;
        padding-inline-start: 0;

        li {
          margin-right: 15px;

          @media only screen and(max-width: 768px) {
            margin-right: 10px;
          }

          @media only screen and(max-width: 568px) {
            margin-right: 5px;
          }

          .WalletBtn {
            background: none;
            border: none;
            color: $TextColor;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;

            @media only screen and(max-width: 768px) {
              font-size: 12px;
            }
          }

          .WalletSelected {
            color: $MainTextColor;
          }
        }

        .Settings {
          margin-left: auto;
          margin-right: 0;

          .WalletBtn {
            color: $MainTextColor;
            font-size: 22px;

            @media only screen and(max-width: 768px) {
              font-size: 12px;
            }
          }
        }
      }

      .MoreWallets {
        background: none;
        border: none;
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;
        color: $MainTextColor;
        font-size: 22px;
        display: block;
        margin-left: auto;
      }

      .WalletCoinsAmount {
        margin-top: 40px;

        @media only screen and(max-width: 768px) {
          margin-top: 10px;
        }

        .AmountOfCoins {
          color: $MainTextColor;
          font-weight: 700;
          font-size: 48px;

          @media only screen and(max-width: 768px) {
            font-size: 24px;
          }

          margin: 0;
          display: flex;
          align-items: center;

          .image {
            margin-right: 15px;

            @media only screen and(max-width: 768px) {
              width: 33px;
            }
          }
        }

        .ReturnOnInvestment {
          color: $SuccessColor;
          font-weight: bold;
          font-size: 24px;
          margin-left: 63px;
          margin-top: 20px;
          margin-bottom: 0;

          @media only screen and(max-width: 768px) {
            margin-top: 5px;
            font-size: 16px;
            margin-left: 50px;
          }

          .Amount {
            font-size: 14px;
            display: block;
            color: $MainTextColor;

            @media only screen and(max-width: 768px) {
              font-size: 12px;
            }
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgb(58, 58, 58, 58%);
        filter: blur(10px);
        margin: -20px;
      }
    }

    .TransactionsHistory {
      padding: 0 40px;
      display: flex;
      align-items: center;
      color: #9494a1;
      font-size: 12px;

      @media only screen and (max-width: 968px) {
        padding: 0 20px;
      }

      .ToggleAllWallets {
        margin-left: auto;
        display: flex;
        align-items: center;

        .ToggleAllWalletsBtn {
          margin-left: 20px;
        }
      }
    }

    .TransactionsLogs {
      overflow-y: auto;
      max-height: 250px;

      .spin {
        width: fit-content;
        margin: 0 auto 5px;

        .spinner {
          text-align: center;
          width: 30px;
          height: 30px;
          color: $MainColor;
        }
      }

      p {
        margin: 0;
      }

      .TransactionLog {
        margin-bottom: 20px;

        .TransactionsDate {
          background: #1e1f24;
          padding: 5px 40px;

          @media only screen and (max-width: 968px) {
            padding: 5px 20px;
          }

          .Date {
            font-size: 12px;
            font-weight: 500;
          }
        }

        .Transaction {
          display: grid;
          margin: 15px 0;
          justify-content: space-between;
          grid-template-columns: max-content max-content;
          grid-gap: 90px;

          @media only screen and(max-width: 768px) {
            grid-gap: 5px;
          }

          padding: 0 40px;

          @media only screen and (max-width: 968px) {
            padding: 0 20px;
          }

          .WalletName {
            font-size: 16px;
            font-weight: 500;
            flex: auto;

            @media only screen and(max-width: 768px) {
              font-size: 10px;
            }
          }

          .Actions {
            flex: auto;

            .ActionName {
              font-size: 16px;
              font-weight: 500;
            }

            .CoinName {
              font-size: 16px;
              color: #676679;
            }
          }

          .ActionsResults {
            flex: auto;
            display: flex;
            flex-direction: column;

            .link {
              text-align: end;
              color: #676679;
              align-self: flex-end;
              text-decoration: none;

              &:hover {
                color: #9797a7;
              }
            }

            .ResultMoney {
              font-size: 16px;
              font-weight: 500;
              color: #ffffff;
            }

            .ActionValue {
              font-size: 16px;
              font-weight: 500;
            }

            .Minus {
              color: $ErrorColor;
            }

            .Plus {
              color: $SuccessColor;
            }

            p {
              text-align: right;
              @media only screen and(max-width: 768px) {
                font-size: 15px !important;
              }
            }
          }
        }
      }
    }
  }

  .CluCard {
    border-radius: 20px;
    position: relative;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;

    @media only screen and (min-width: 1268px) {
      padding-top: 130px;
    }

    &::before {
      @include BoxEffect;
    }

    .Card {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      position: relative;
      padding: 20px;
      border-radius: 30px;
      background: inherit;
      overflow: hidden;
      z-index: 0;
      box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
      border: 2px solid $BorderColor;
      max-width: 800px;
      position: relative;
      margin: auto;

      @media only screen and (min-width: 1268px) {
        max-width: 381px;
        position: absolute;
        width: calc(100% - 40px);
        top: -119px;
        left: 50%;
        transform: translateX(-50%);
      }

      @media only screen and (max-width: 968px) {
        max-width: 425px;
      }

      @media only screen and (max-width: 568px) {
        max-width: 375px;
      }

      @media only screen and (max-width: 375px) {
        max-width: 325px;
      }

      p {
        margin: 0;
      }

      .CardHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .EmptyBox {
          width: 52px;
          height: 42px;
          background: #ffffff12;
          border-radius: 10px;
        }

        .CluLogo {
          display: flex;
          align-items: center;

          img {
            @media only screen and(max-width: 768px) {
              width: 30px;
            }
          }

          span {
            font-family: "GoodTimes";
            font-size: 18px;
            color: $MainTextColor;
            margin-left: 10px;
            letter-spacing: 2px;
          }
        }
      }

      .CardBody {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0;

        @media only screen and(max-width: 768px) {
          margin: 20px 0;
        }

        p {
          font-weight: 500;
          color: $MainTextColor;
          font-size: 18px;
          letter-spacing: 1px;
          @media only screen and(max-width: 768px) {
            font-size: 14px;
          }
        }
      }

      .CardFooter {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .CardMoneyAmount {
          font-size: 28px;
          font-weight: 500;
          color: $MainTextColor;
          @media only screen and(max-width: 768px) {
            font-size: 22px;
          }

          span {
          }
        }

        .CirclesCard {
          width: 40px;
          height: 40px;
          background: #ffffff12;
          border-radius: 50%;

          &::after {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            background: #ffffff0d;
            border-radius: 50%;
            right: 46px;
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgb(58, 58, 58, 58%);
        filter: blur(10px);
        margin: -20px;
      }
    }

    .ComingSoon {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }
  }
}

.Graph {
  margin: 40px 0;
  border-radius: 20px;
  width: 100%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  padding: 40px;

  @media only screen and (max-width: 568px) {
    padding: 20px;
  }

  height: 400px;

  &::before {
    @include BoxEffect;
  }

  &.loading {
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner {
      width: 150px;
      height: 150px;
      color: $MainColor;
    }
  }

  .GraphHeader {
    display: flex;
    align-items: center;

    .GraphHeading {
      color: #cfcee6;
      font-weight: 600;
      font-size: 18px;
      @media only screen and(max-width: 768px) {
        font-size: 14px;
      }
    }

    .GraphSelectDate {
      margin-left: 40px;

      @media only screen and(max-width: 768px) {
        margin-left: 10px;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
      }

      .GraphDate {
        color: #676679;
        font-weight: 500;
        font-size: 16px;
        @media only screen and(max-width: 768px) {
          font-size: 12px;
        }
      }

      .Selected {
        color: #cfcee6;
        font-weight: 500;
        font-size: 16px;
        @media only screen and(max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }

  .CluEarned {
    p {
      margin: 0;
    }

    .ValueEarned {
      color: $SuccessColor;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1.25px;
      @media only screen and(max-width: 768px) {
        font-size: 18px;
      }
    }

    .ValueText {
      color: $MainTextColor;
      font-size: 14px;
      margin-top: 2.5px;
      display: block;
      @media only screen and(max-width: 768px) {
        font-size: 12px;
      }
    }
  }
}
