.WhitePaper {
  background: $DarkBox;
  padding: 20px;
  @include BorderRadius(20px);
  position: relative;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;

  .Title {
    font-family: "GoodTimes";

    @media only screen and (max-width: 568px) {
      line-height: 1.3;
      text-align: center;
    }

    color: $MainTextColor;
  }

  .WhitePaperDescription {
    margin-top: 20px;
    line-height: 1.9;
    max-width: 59ch;
  }

  .ReadPaper {
    color: $MainTextColor;
    background: $MainColor;
    text-decoration: none;
    @include BorderRadius(48px);
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;

    button {
      font-size: 16px;
    }
  }
}
